include setup.py
include htmlimagedirpreview/htmlimagedirpreview.py
include htmlimagedirpreview/templates/*
include htmlimagedirpreview/__init__.py
include requirements.txt
include README.md
include LICENSE
