<!doctype html>
<html>
<head>

<style>

.img-with-text{
    float: left;
    font-size: 70%;
}

</style>

<title>Image preview for directory `{{ dirpath }}`</title>
</head>
<body>

<h1>Image preview </h1>

<p>
For directory `{{ dirpath }}`
</p>

<p>
{% for img in imglist %}
        <div class="img-with-text">
            <img src="file://{{dirpath}}/{{img}}" title="{{img}}">
        </div>
{% endfor %}
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>
<!-- for some reasons text in the first paragraph after the divs does not start at new line -->
<hr width="80%" color="#AAA">
</p>
<br>
<p>
{% if dbg %}
{{dbg}}
{% endif %}
</p>
<br>
<br>
<p>
End of list
<hr width="80%" color="#AAA">
</p>



</body>
</html>
